<ion-grid class="grid" no-padding>
  <ion-row class="row">
    <ion-col col-4 col-lg-4 col-md-6 col-sm-4 col-xl-2 text-center>
      <button>
        <ion-icon color="primary" [name]="item?.icon" role="img"></ion-icon>
        <br> {{item?.title}}

      </button>
    </ion-col>

    <ion-col col-4 col-lg-4 col-md-6 col-sm-4 col-xl-2 text-center>
      <button>
        <ion-icon color="primary" [name]="item?.icon" role="img"></ion-icon>
        <br> {{item?.title}}

      </button>
    </ion-col>

    <ion-col col-4 col-lg-4 col-md-6 col-sm-4 col-xl-2 text-center>
      <button>
        <ion-icon color="primary" [name]="item?.icon" role="img"></ion-icon>
        <br> {{item?.title}}

      </button>
    </ion-col>
  </ion-row>

  <ion-row class="row">
    <ion-col col-4 col-lg-4 col-md-6 col-sm-4 col-xl-2 text-center>
      <button>
        <ion-icon color="primary" [name]="item?.icon" role="img"></ion-icon>
        <br> {{item?.title}}

      </button>
    </ion-col>

    <ion-col col-4 col-lg-4 col-md-6 col-sm-4 col-xl-2 text-center>
      <button>
        <ion-icon color="primary" [name]="item?.icon" role="img"></ion-icon>
        <br> {{item?.title}}

      </button>
    </ion-col>

    <ion-col col-4 col-lg-4 col-md-6 col-sm-4 col-xl-2 text-center>
      <button>
        <ion-icon color="primary" [name]="item?.icon" role="img"></ion-icon>
        <br> {{item?.title}}

      </button>
    </ion-col>
  </ion-row>
</ion-grid>
